@use '../../styles/variables' as *;

.changeLanguage {
  max-width: 311px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;

  button {
    white-space: nowrap;
    background: white;
    text-align: left;
    display: inline-block;
    color: $black1;
    font-style: normal;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 13px 11px;
    letter-spacing: 0.1em;
    text-align: left;
    border-radius: 4px;

    &::after {
      content: url("../../images/chevron-down-black.svg");
      position: absolute;
      right: 16px;
      top: 12px;
      cursor: pointer;
    }

    @media (min-width: $breakpointTablet) {
      color: white;
      padding: 0;
      border-radius: 0;
      background: transparent;

      &::after {
        content: url("../../images/chevron-down.svg");
        right: 0px;
        top: 2px;
      }
    }
  }

  .languagesList {
    max-width: 311px;
    border-radius: 4px;
    margin-top: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      padding: 8px;
      display: inline-block;
      color: $black1;
      cursor: pointer;
      border-bottom: 1px solid $border1;
      text-transform: uppercase;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      &:hover {
        background: $grey1;
      }

      &:last-of-type {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  @media (min-width: $breakpointTablet) {
    width: 36px;
    background: transparent;
  }
}

.changeLanguage.active button::after {
  transform: scale(-1);
  transition: all 0.3s ease-in-out;
}

.whiteBackground {
  button {
    color: black;
    &::after {
      content: url("../../images/chevron-down-black.svg");
    }
  }

  .languagesList {
    background: $black2;
    span {
      color: white;
      &:hover {
        background: $grey4;
      }
    }
  }
}
