@use '../../styles/variables' as *;

.investment {
  padding: 0 2rem;
  padding-bottom: 3rem;
  padding-top: 50px;
  overflow: hidden;
  @media (min-width: $breakpointTablet) {
    padding-bottom: 4rem;
    padding-top: 100px;
  }
}

.mainInnerWrapper {
  max-width: $maxwidth;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "investisseme";
    position: absolute;
    text-transform: uppercase;
    top: 130px;
    left: -20px;
    font-size: 100px;
    line-height: 90px;
    color: $white4;
    z-index: -1;
  }
  @media (min-width: $breakpointTablet) {
    padding: 0;

    &::after {
      font-size: 200px;
      left: 330px;
      top: 150px;
    }
  }
}

.investmentBlocksWrapper {
  @media (min-width: $breakpointTablet) {
    display: flex;
    justify-content: space-between;
  }
}

.investmentBlock {
  text-align: left;
  @media (min-width: $breakpointTablet) {
    max-width: 439px;
  }

  h5 {
    color: $purple;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 500;
    max-width: 200px;
    color: black;
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 20px;
  }

  &:last-of-type {
    margin-top: 50px;
  }

  @media (min-width: $breakpointTablet) {
    h5 {
      font-size: 12px;
      line-height: 16px;
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
      max-width: 273px;
    }
  }
}

.carouselContainer {
  margin-bottom: 6rem;
  margin-top: 87px;
  @media (min-width: $breakpointTablet) {
    display: none;
  }
}

.cardsContainerDesktop {
  display: none;

  .card {
    border-right: 1px solid $border1;
    padding: 60px 55px;
    width: 376px;

    &:nth-of-type(3) {
      border-right: 0;
    }

    h5 {
      margin-bottom: 2rem;
    }

    @media (max-width: $breakpointLarge) {
      padding: 30px;
    }
  }

  @media (min-width: $breakpointTablet) {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
    margin-top: 87px;
    margin-bottom: 100px;
  }
}
.carouselItem {
  padding: 36px 24px 40px 27px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 65px;
    left: 48%;
    width: 24px;
    background: black;
    height: 2px;

    @media (min-width: $breakpointTablet) {
      top: 90px;
      left: 47%;
    }

    @media (max-width: $breakpointLarge) {
      top: 70px;
    }
  }
  h5 {
    color: black;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;

    @media (max-width: $breakpointTablet) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  h3 {
    color: black;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    &::first-line {
      font-weight: 400;
      line-height: 16px;
      color: $grey3;
    }
    margin-bottom: 44px;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: $black4;

    @media (max-width: $breakpointTablet) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.investmentList {
  margin-top: 75px;

  img {
    width: 14px;
    height: 14px;
    cursor: pointer;
    transform: none;
    transition: all 0.3s ease-in-out;
  }
  .active {
    transform: scale(-1);
  }

  @media (min-width: $breakpointTablet) {
    max-width: 438px;
    margin-top: 0rem;
    margin-left: 2rem;
  }
}

.listItemTile {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $border1;
  cursor: pointer;
}

.listItemContent {
  position: relative;
  padding: 20px;
  font-size: 14px;
}
