//colors

//grey
$grey1: #ddd9d9;
$grey2: #898989;
$grey3: #bababa;
$grey4: #c1c1c1;
$grey5: #ebebeb;
$grey6: #aaaaaa;

//grey
$black1: #141414;
$black2: #202020;
$black3: #040404;
$black4: #4a4a4a;

$white1: #f6f6f6;
$white2: #f7f7f7;
$white3: #f2f2f2;
$border1: #c4c4c4;

//paddings
$paddingMobile: 0 2rem;
$paddingDesktop: 0 7rem;

//breakpoints
$breakpointTablet: 768px;
$breakpointLarge: 992px;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
