//colors
$blue: blue;
$lightGrey1: #ddd9d9;
$lightGrey2: #898989;
$lightGrey3: #bababa;

$black1: #141414;
$black2: #202020;
$black3: #040404;

$white1: #f6f6f6;

//paddings
$paddingMobile: 0 2rem;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
