//colors

//grey
$grey1: #ddd9d9;
$grey2: #898989;
$grey3: #bababa;
$grey4: #c1c1c1;
$grey5: #ebebeb;
$grey6: #aaaaaa;

//black
$black1: #141414;
$black2: #202020;
$black3: #040404;
$black4: #4a4a4a;
$black5: #111111;
$black6: #181818;
$black7: #111111;

$white1: #f6f6f6;
$white2: #f7f7f7;
$white3: #f2f2f2;
$white4: #f7f7f7;
$border1: #c4c4c4;

$purple: #726bb9;

//paddings
$paddingMobile: 0 2rem;

//breakpoints
$breakpointTablet: 768px;
$breakpointLarge: 992px;
$breakpointExtralarge: 1400px;

$maxwidth: 1130px;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-left: -200%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideinRight {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
