@use '../../styles/variables' as *;

header {
  background-image: url("../../images/header-bg-mobile.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: $paddingMobile;
  padding-top: 2rem;
  @media (min-width: 768px) {
    background-image: url("../../images/header-bg.png");
  }
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.navMenu {
  z-index: 1500;
  display: none;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: white;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100vw;
}

.navList {
  // transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    font-size: 30px;
    line-height: 90px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    &:active,
    :hover {
      background-position: 100%;
      color: #345ca1;
      transform: translateX(1rem);
    }
  }
}

.toggleInput {
  display: none;
}

.navBg {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  vertical-align: middle;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.toggleInput:checked ~ .navBg {
  transform: scale(150);
}

.toggleInput:checked ~ .navMenu {
  display: block;
}

.toggleInput:checked + .navButton .navIcon::before {
  top: 0;
  transform: rotate(135deg);
}

.toggleInput:checked + .navButton .navIcon::after {
  top: 0;
  transform: rotate(-135deg);
}

.toggleInput:checked + .navButton .navIcon {
  background-color: transparent;
}

.navButton {
  background-color: #fff;
  height: 4.1rem;
  width: 4.1rem;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;

  &:hover .navIcon::before {
    top: -0.5rem;
  }

  &:hover .navIcon::after {
    top: 0.5rem;
  }
}

.logo {
  z-index: 2500;
}
.navIcon {
  width: 32px;
  height: 2px;
  background-color: $black3;
  transition: all 0.2s;
  display: inline-block;
  position: relative;
  top: 18px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: $black3;
    display: inline-block;
    transition: all 0.2s;
    right: 0;
    font-size: normal;
    font-family: GTWalsheimPro;
  }

  &::before {
    top: -7px;
  }
  &::after {
    top: 9px;
  }
}

.changeLanguage {
  background: white;
  border-radius: 4px;
  max-width: 311px;
  height: 40px;
  &::after {
    content: url("../../images/chevron-down.svg");
  }
}

.headerText {
  margin-top: 170px;
  text-transform: uppercase;
  color: white;

  .headerText__1 {
    font-style: normal;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
    display: inline-block;
    max-width: 100px;
    animation: fadein 2s;
  }

  .headerText__2 {
    width: 100%;
    font-style: normal;
    font-size: 13vw;

    span {
      display: block;
      overflow: hidden;
      animation: fadein 2s;
    }
    span:nth-child(2) {
      text-indent: 12%;
    }
    div {
      text-align: right;
      position: relative;
      animation: fadein 2s;

      .headerText__3 {
        position: absolute;
        right: 0;
        text-align: right;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.1em;
        font-weight: 400;
      }
    }

    @media (min-width: 768px) {
      font-size: 10vw;
    }

    @media (min-width: 992px) {
      font-size: 8vw;
    }

    @media (min-width: 1200px) {
      line-height: 120px;
    }
  }
  @media (min-width: 768px) {
    margin-top: 90px;
    width: 88%;
    padding: 0 70px;
  }

  @media (min-width: 992px) {
    width: 75%;
  }

  @media (min-width: 1200px) {
    width: 68%;
  }
}

.learnMore {
  position: absolute;
  bottom: 40px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: black;
    transition: ease-in-out 0.5s;
  }
  @media (min-width: 768px) {
    margin: 0 70px;
  }
}
