@use '../../styles/variables' as *;

header {
  position: relative;
  background-image: url("../../images/header-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 2rem;
  padding-top: 2rem;
  @media (min-width: $breakpointTablet) {
    background-image: url("../../images/header-bg.svg");
    background-position: initial;
  }
}

.innerWrapper {
  max-width: 1325px;
  margin: 0 auto;

  @media (min-width: $breakpointTablet) {
    padding: 0;
  }
}

.learnMore {
  display: flex;
  position: absolute;
  bottom: 40px;

  a {
    cursor: pointer;
    border-radius: 50%;
    color: white;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite alternate;

    &:hover {
      background: black;
    }
  }
  span {
    color: white;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-left: 1rem;
  }
  @media (min-width: $breakpointTablet) {
    margin: 0 70px;
  }
}

.headerText {
  color: white;
  margin-top: 180px;
  margin-left: 0;
  max-width: 420px;

  h3 {
    transition: all 1s ease-in-out;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  h5 {
    transition: all 1s ease-in-out;
    font-weight: 600;
    font-size: 50px;
    line-height: unset;
    text-transform: uppercase;
    span {
      margin-top: 0;
      display: block;
      margin-left: 30px;
    }
  }

  p {
    transition: all 1s ease-in-out;
    margin-top: 64px;
    text-align: right;
    float: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    span {
      font-weight: bold;
      max-width: 150px;
      display: inline-block;
    }
  }

  @media (min-width: 500px) {
    margin-left: 70px;

    p {
      margin-top: 44px;
    }
  }

  @media (min-width: $breakpointTablet) {
    max-width: 650px;
    margin-top: 220px;
    margin-left: 120px;
    h3 {
      margin-bottom: 22px;
    }

    h5 {
      font-size: 80px;
      line-height: 50px;
      span {
        margin-top: 22px;
        margin-left: 68px;
      }
    }

    p {
      margin-top: 30px;
      float: right;
      text-align: left;

      span {
        max-width: initial;
      }
    }
  }

  @media (min-width: $breakpointExtralarge) {
    max-width: 920px;

    h3 {
      margin-bottom: 22px;
    }

    h5 {
      font-size: 120px;
      line-height: 90px;
      span {
        margin-top: 22px;
        margin-left: 68px;
      }
    }

    p {
      margin-top: -35px;
      float: right;
      text-align: left;

      span {
        max-width: initial;
      }
    }
  }
}
