@use '../../styles/variables' as *;

.investment2 {
  padding: 0 2rem;
  padding-top: 3rem;
  background: $black1;
  color: white;
  padding-bottom: 5rem;

  @media (min-width: $breakpointTablet) {
    padding-top: 87px;
  }
}

.mainInnerWrapper {
  max-width: $maxwidth;
  margin: 0 auto;

  @media (min-width: $breakpointTablet) {
    padding: 0;
  }
}

.investment2Block {
  h5 {
    color: $purple;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  margin-bottom: 2rem;

  @media (min-width: $breakpointTablet) {
    margin-bottom: 90px;
    h5 {
      font-size: 12px;
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  .top {
    text-align: center;
    h5 {
      font-size: 100px;
      line-height: 124px;
      font-weight: normal;
    }
    p {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 500;
    }

    @media (min-width: $breakpointTablet) {
      h5 {
        font-size: 140px;
        line-height: 173px;
      }

      p {
        font-size: 12px;
      }
    }
  }
  .innerWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      text-align: center;

      h5 {
        font-size: 25px;
        line-height: 24px;
        font-weight: 400;
      }
      p {
        font-size: 8px;
        line-height: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 500;
      }

      @media (min-width: $breakpointTablet) {
        h5 {
          font-size: 72px;
          line-height: 89px;
        }

        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}

// overrides
.slider {
  color: $grey5 !important;

  span:first-child {
    height: 12px;
    border-radius: 5px;
  }
  span:nth-child(2) {
    height: 12px;
    border-radius: 5px;
  }

  span:last-child {
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: relative;
    color: $grey6;
    margin-top: -5px;
    margin-left: -5px;
  }
}

.sliderContainer {
  position: relative;
  text-align: center;
  .sliderRange {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    span:nth-of-type(2) {
      position: absolute;
    }
  }

  .sliderText {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1rem;
    &::first-line {
      color: $purple;
      font-weight: 700;
    }
  }

  a {
    display: inline-block;
    cursor: pointer;
    max-width: 307px;
    margin-top: 80px;
    padding: 17px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    border-radius: 8px;
    border: 2px solid $purple;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: $black1;
    color: white;
    text-decoration: none;

    &:hover,
    &:active {
      background: white;
      opacity: 0.9;
      transition: all 0.3s ease-in-out;
      color: black;
    }
  }

  @media (min-width: $breakpointTablet) {
    .sliderText {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.underSliderWrapper {
  display: flex;
  justify-content: space-between;
}
