@use '../../styles/variables' as *;

.investment2 {
  padding: 0 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: $black1;
  color: white;
  margin-bottom: 5rem;

  @media (min-width: $breakpointTablet) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.mainInnerWrapper {
  max-width: $maxwidth;
  margin: 0 auto;

  @media (min-width: $breakpointTablet) {
    padding: 0;
  }
}

.investment2Block {
  h5 {
    color: $grey3;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 2rem;
    font-weight: 500;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  .top {
    text-align: center;
    h5 {
      font-size: 100px;
      line-height: 124px;
      font-weight: normal;
    }
    p {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 500;
    }

    @media (min-width: $breakpointTablet) {
      h5 {
        font-size: 140px;
        line-height: 173px;
      }

      p {
        font-size: 12px;
      }
    }
  }
  .innerWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      text-align: center;

      h5 {
        font-size: 40px;
        line-height: 49px;
        font-weight: normal;
      }
      p {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 500;
      }

      @media (min-width: $breakpointTablet) {
        h5 {
          font-size: 72px;
          line-height: 89px;
        }

        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}

// overrides
.slider {
  color: $grey5 !important;

  span:first-child {
    height: 12px;
    border-radius: 5px;
  }
  span:nth-child(2) {
    height: 12px;
    border-radius: 5px;
  }

  span:last-child {
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: relative;
    color: $grey6;
    margin-top: -5px;
    margin-left: -5px;
  }
}

.sliderContainer {
  text-align: center;
  .sliderRange {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .sliderText {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 2rem;
    &::first-line {
      color: $grey4;
      font-weight: 700;
    }
  }
}
