@use '../../styles/variables' as *;

footer {
  background-color: black;
  text-align: center;
  padding: 0 2rem;
  padding-top: 3rem;

  @media (min-width: $breakpointLarge) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.innerWrapper {
  max-width: $maxwidth;
  margin: 0 auto;

  @media (min-width: $breakpointTablet) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo content socials lang";

    .footerSocials {
      grid-area: socials;
      margin-top: 4rem;
    }

    .footerLogo {
      grid-area: logo;
    }
    .footerList {
      grid-area: content;
      margin-top: 4rem;
    }

    .changeLanguage {
      margin-top: 3rem;
      grid-area: lang;
    }
  }
}

.footerLogo {
  width: 95px;
  height: 101px;
}

.footerSocials {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  img {
    margin-right: 1rem;
  }

  img:last-of-type {
    margin-right: 0;
  }
}

.footerBlock {
  h5 {
    font-size: 20px;
    line-height: 24px;
    color: $grey3;
    margin-bottom: 1rem;
  }
}
.footerTile {
  color: white;
  p {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
  }
  margin-bottom: 2rem;
}

.mobileOnly {
  display: none;

  @media (min-width: $breakpointTablet) {
    display: block;
  }
}
.footerList {
  @media (min-width: $breakpointTablet) {
    display: flex;
    justify-content: space-around;
  }
}

.languageDropdown {
  & > div:first-of-type {
    margin: 3.5rem auto;
    padding: 0;
  }
}
