@use '../../styles/variables' as *;

footer {
  background-color: black;
  text-align: center;
  padding: 0 2rem;
  padding-top: 3rem;

  @media (min-width: $breakpointLarge) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.innerWrapper {
  max-width: $maxwidth;
  margin: 0 auto;
  text-align: left;

  @media (min-width: $breakpointTablet) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: "logo content socials lang";

    .footerSocials {
      grid-area: socials;
    }

    .footerLogo {
      grid-area: logo;
    }
    .footerList {
      grid-area: content;
    }

    .changeLanguage {
      grid-area: lang;
    }
  }
}

.footerLogo {
  width: 95px;
  height: 101px;
  margin-bottom: 2rem;
}

.footerSocials {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  img {
    margin-right: 1rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footerBlock {
  text-align: left;
  width: 160px;
  overflow-wrap: anywhere;
  h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: $grey3;
    margin-bottom: 1rem;

    @media (min-width: $breakpointTablet) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  @media (min-width: $breakpointTablet) {
    &:nth-of-type(1) {
      margin-left: 1.5rem;
    }
  }
}
.footerTile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 160px;
  color: white;
  margin-bottom: 2rem;

  p {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 0;
    @media (min-width: $breakpointTablet) {
      line-height: 16px;
      margin-top: 20px;
    }
  }
}

.mobileOnly {
  display: none;

  @media (min-width: $breakpointTablet) {
    display: block;
  }
}
.footerList {
  @media (min-width: $breakpointTablet) {
    display: flex;
    justify-content: space-around;
  }
}

.languageDropdown {
  padding-bottom: 4rem;
}
