@use '../../styles/variables' as *;

footer {
  background-color: black;
  padding: $paddingMobile;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: $breakpointTablet) {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo content socials lang";

    .footerSocials {
      grid-area: socials;
      margin-top: 4rem;
    }

    .footerLogo {
      grid-area: logo;
    }
    .footerList {
      grid-area: content;
      margin-top: 4rem;
    }

    .changeLanguage {
      margin-top: 3rem;
      grid-area: lang;
    }
  }

  @media (min-width: $breakpointLarge) {
    padding: $paddingDesktop;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.footerLogo {
  width: 95px;
  height: 101px;
}

.footerSocials {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  img {
    margin-right: 1rem;
  }

  @media (min-width: $breakpointTablet) {
    img:last-of-type {
      margin-right: 0;
    }
  }
}

.footerBlock {
  h5 {
    font-size: 20px;
    line-height: 24px;
    color: $grey3;
    margin-bottom: 1rem;
  }
}
.footerTile {
  color: white;
  p {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
  }
  margin-bottom: 2rem;
}

.changeLanguage {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: black;
  border-radius: 4px;
  padding: 13px 11px;
  outline: 0;
  border: 0;
  margin: 0 auto;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  width: 100%;
  max-width: 311px;
  overflow: hidden;

  @media (min-width: $breakpointTablet) {
    display: flex;
    max-width: 60px;
  }
}

.mobileOnly {
  display: none;

  @media (min-width: $breakpointTablet) {
    display: block;
  }
}
.footerList {
  @media (min-width: $breakpointTablet) {
    display: flex;
    justify-content: space-around;
  }
}
