@use '../../styles/variables' as *;

.selectContainer {
  font-family: "GTWalsheimPro";
  font-weight: 500;
  margin-top: 8px;
  .select__control {
    border-color: $grey3;
  }

  .select__input input {
    height: 34px;
    margin-top: 0;
  }

  .select__indicator-separator {
    display: none;
  }

  .select__control--is-focused {
    border-color: $purple;
    box-shadow: 0 0 0 1px $purple;

    &:hover {
      border-color: $purple;
    }
  }
  .select__placeholder {
    color: $black6;
  }
}
